.first_div{
    background: linear-gradient(110deg,#fff 60%,#fdcd3b 60%);
    height: auto;
    width: 100%;
    overflow: hidden;
}


.logo{
    display: inline;

}
.nav{
    display:flex;
    float: right;
    justify-content: space-evenly;
    padding: 20px;
    align-content: space-between;
    line-height: 1px;
    margin: 15px;
    font-size: 20px;
    font-family: poppin;
    gap: 100px;
}
.nav li{
    list-style: none;
}
.char{
    font-family: poppin;
    font-size: 20px;

}
.image>img{
    float: right;
    height:600px;
    width: 300px;
}
.header{
    border: aqua;
}
.container{
    display:flex;
}
.container1{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    flex-wrap: wrap;
}
.container .dp1{
    display: flex;
    flex-wrap: wrap;

} 

}
.menu .menulist{
    
    display: flex;
    flex-wrap: wrap;
    border: 2px solid;
    height: 250px;
    border: 2px solid;
    background-color: crimson;
   

}

.menu{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
   padding: 50px;


    
}
.menulist{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
} .menu .menulist li{
   box-shadow: 0 30px 40px rgb(0,0,0,.1);
    padding: 100px;
    padding-bottom: 80px;
    border-radius: 30px;
    

}
.container li{
    width: 250px;
    height: 250px;
    box-shadow: 3px 3px 4px 4px grey;
    padding: 50px;
    margin: 50px;
    border-radius: 12px;
    overflow: hidden;
    
}
.menu span{
    color: yellow;
}
.container .dp{
    display: flex;
    justify-content: space-evenly;
    
}
li{
    list-style: none;
}
.lg{
    display: flex;

}
.lg span{
    color: brown;
}
form{
    float: right;
    
}
.black span{
    color: yellow;

}
.black img{
    float: right;
    background-color: black;
}
.section3>img{
    float: right;
    height: 400px;
    width: 400px;
}
.section4{
    background-color: yellow;
    background-size: cover;
    background-repeat: no-repeat;
}
.section4>div4{
    float: right;
    height: 400px;
    width: 400px;
} h2{
    text-align: center;
}